body,
h1,
h2,
p,
button,
span {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
}

header h1 {
  margin: 40px 0px 200px 40px;
  font-size: 1.5em;
  text-transform: uppercase;
  font-family: "Inconsolata";
  color: #333333;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image {
  flex: 2 1 300px;
  margin: 0 40px 80px 40px;
}

.info {
  flex: 2 1 400px;
  margin: 0 40px;
}

.info h2 {
  font-family: "Space Mono";
  font-weight: bold;
  font-size: 4em;
  color: #333333;
}

.info p {
  font-family: "Space Mono";
  font-size: 1.5em;
  max-width: 400px;
  margin-top: 36px;
  color: #4f4f4f;
}

.info a {
  margin-top: 64px;
  display: inline-block;
  text-transform: uppercase;
  font-family: "Space Mono";
  font-size: 0.875em;
  padding: 24px 43px;
  color: white;
  background: #333333;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}

footer span {
  display: block;
  text-align: center;
  margin: 300px 40px 0 40px;
  padding: 20px;
  font-family: "Montserrat";
  font-size: 0.875em;
  color: #bdbdbd;
}

@media (max-width: 600px) {
  .header h1 {
    margin-bottom: 64px;
  }

  .image {
    margin-bottom: 80px;
  }

  .info h2 {
    font-size: 3em;
  }

  .info p {
    font-size: 1.125em;
  }

  footer span {
    margin-top: 114px;
  }
}
